@import "bootstrap";

:root {
  --btn-primary: #0381f7;
  --dc-primary: #0282f9;
}

header .navbar {
  padding: 3px;
}


header .nav-item>a {
  padding: 3rem 0;

  &:hover {
    border-bottom: solid 3px var(--btn-primary);
    margin-bottom: -3px;
  }
}