@import "bootstrap";

* {
  font-family: "Open Sans", sans-serif;
}

:root {
  --btn-primary: #0381f7;
  --dc-primary: #0282f9;
}

/* header */

header .navbar {
  padding: 3px;
}


header .nav-item>a {
  padding: 3rem 0;

  &:hover {
    border-bottom: solid 3px var(--btn-primary);
    margin-bottom: -3px;
  }
}

/* main */

.col-2 span {
  font-size: 0.8rem;
}

#jumbotron {
  background-image: url(./assets/img/jumbotron.jpg);
  background-size: cover;
  height: 40vh;
}

/* Catalogue */

.img_box img {
  width: 100%;
  aspect-ratio: 1;
  object-fit: cover;
  object-position: top;
}

.card-body {
  font-size: 0.8rem;
}

/* footer */

footer {
  background-image: url(./assets/img/footer-bg.jpg);
  background-size: cover;
}

footer>.container {
  background-image: url(./assets/img/dc-logo-bg.png);
  background-repeat: no-repeat;
  background-position: 100%;
  background-size: 55%;
}

footer h4 {
  font-size: 1.5rem;
  font-weight: bold;
}

footer li {
  font-size: 1rem;
  color: grey;
}

footer .navbar-brand {
  color: var(--dc-primary)
}