@import "bootstrap";

:root {
  --btn-primary: #0381f7;
  --dc-primary: #0282f9;
}

/* header */

header .navbar {
  padding: 3px;
}


header .nav-item>a {
  padding: 3rem 0;

  &:hover {
    border-bottom: solid 3px var(--btn-primary);
    margin-bottom: -3px;
  }
}

/* main */

.col-2 span {
  font-size: 0.8rem;
}